<div class="sidebar-menu bg-school" *ngIf="user">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link-a">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-a">Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-a">Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-a">Student</a>
          </li>
        <li class="nav-item">
          <a class="nav-link-a">Parent</a>
        </li>
      </ul>
</div>
