<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div class="sidebar-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link-a">Admin</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link-a">Teacher</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link-a">Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-a">Student</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link-a">Parent</a>
                    </li>
                  </ul>
            </div>
            <app-side-bar></app-side-bar>
        </div><!--column end here-->
        <div class="col-sm-12 col-md-10">
            <router-outlet></router-outlet>
        </div><!--column end here-->
    </div><!--row end here -->
</div><!-- container fluid end here -->
<p class="text-center bg-info text-light p-2">@School Management System</p>
<!-- <app-footer></app-footer> -->
